<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>我们的故事</title>
<STYLE type=text/css>
BODY {	MARGIN: 0px}BODY {
	FONT-SIZE: 14px;
	COLOR: #000000;
	FONT-FAMILY: Georgia, Times New Roman, Times, serif;
	background-color: #000F2E;
}
.chinaoly10 {  font-family: "chinaoly"; font-size: 11px COLOR:#C0F4FE}
.chinaoly10 :link { COLOR: #C0F4FE; TEXT-DECORATION: none}
.chinaoly10 :visited { COLOR: #C0F4FE; TEXT-DECORATION: none}
.chinaoly10 :active { COLOR: #C0F4FE; TEXT-DECORATION: none}
.chinaoly10 :hover { COLOR: #C0F4FE; TEXT-DECORATION: none}

.chinaoly12 {  font-family: "chinaoly"; font-size: 11px }
.chinaoly12 :link { COLOR: #33ccff; TEXT-DECORATION: none}
.chinaoly12 :visited { COLOR:#33ccff; TEXT-DECORATION: none}
.chinaoly12 :active { COLOR#33ccff; TEXT-DECORATION: none}
.chinaoly12 :hover { COLOR:#33ccff; TEXT-DECORATION: none}

.chinaoly13 {  font-family: "chinaoly"; font-size: 13px }
.chinaoly13 :link { COLOR: #333333; TEXT-DECORATION: none}
.chinaoly13 :visited { COLOR: #333333; TEXT-DECORATION: none}
.chinaoly13 :active { COLOR: #333333; TEXT-DECORATION: none}
.chinaoly13 :hover { COLOR: #363AE0; TEXT-DECORATION: underline}

.chinaoly14 {  font-family: "chinaoly"; font-size: 14px }
.chinaoly14 :link { COLOR: #464600; TEXT-DECORATION: none}
.chinaoly14 :visited { COLOR: #464600; TEXT-DECORATION: none}
.chinaoly14 :active { COLOR: #464600; TEXT-DECORATION: none}
.chinaoly14 :hover { COLOR: #0000CC; TEXT-DECORATION: underline}

TD {FONT-FAMILY: "黑体", "arial"; FONT-SIZE: 24px }
P  {FONT-FAMILY: 黑体,arial; FONT-SIZE: 24px}
LI {FONT-FAMILY: 黑体,arial; FONT-SIZE: 24px}
INPUT {	FONT-FAMILY: 黑体,arial; FONT-SIZE: 24px}
SELECT{FONT-FAMILY: 黑体,arial; FONT-SIZE: 24px}
INPUT {	FONT-FAMILY: 黑体,arial; FONT-SIZE: 24pt}
.body {  margin-left: 0px; padding-left: 0px}
.style1 {color: #FFFFFF;font-size:14px}
.style3 {color: #0099FF;font-weight:bold;font-size:14px}
.style8 {
	font-size: 24px;
	color: #0099FF;
}
.style9 {color: #C0F4FE}
-->

</STYLE>
</head>

<body>
<br>
<table width="1024" border="0" align="center" cellpadding="0" cellspacing="0" background="/templates/images/dw.png">
  <tr>
    <td><br>
      <br>
      <table width="1024"  border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="87%"><div align="center" class="style1 style8">我们的故事</div></td>
        <td width="17%"><div align="center"><A href="http://www.youku.com"><img src="/templates/images/logo00虚边.png" width="150" height="60"></div></td>
      </tr>
    </table>
      <br>
      <br>
      <table width="1024" border="0" align="center" cellspacing="0">


        <tr class="chinaoly10">
          <td><p>&nbsp;</p>
              <p>&nbsp;</p></td>
          <td><div align="center"><A href="/html/机器人SORI.html"><img src="images/机器人SORI.jpg" width="150" height="215"></div></td>
          <td><div align="center"></div></td>
          <td><div align="center"><A href="/html/人工智能.html"><img src="images/人工智能.jpg" width="150" height="215"></div></td>
          <td><div align="center"></div></td>
          <td><div align="center"><A href="/html/斯诺登.html"><img src="images/斯诺登.jpg" width="150" height="215"></div></td>
          <td><div align="center"></div></td>
          <td><div align="center"><A href="/html/鹰眼.html"><img src="images/鹰眼.jpg" width="150" height="215"></div></td>
          <td><div align="center"></div></td>
        </tr>
        <tr>
          <td height="38">&nbsp;</td>
          <td><div align="center" class="style3">2016 机器人SORI</div></td>
          <td><div align="center"></div></td>
          <td><div align="center" class="style3">2001 人工智能</div></td>
          <td>&nbsp;</td>
          <td><div align="center" class="style3">2016 斯诺登<br>监听</div></td>
          <td>&nbsp;</td>
          <td><div align="center" class="style3">2008 鹰眼<br>全员监控</div></td>
          <td><div align="center"></div></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td width="200" valign="top" class="body"><div align="center">
              <div align="left" class="style1 style9">李圣旻饰演的父亲和迫降在韩国的人工智能卫星机器人一起出发寻找失踪女儿的故事。</div>
          </div></td>
          <td valign="top" class="body"><div align="center"></div></td>
          <td width="200" valign="top" class="body"><div align="center">
              <div align="left" class="style1 style9">先进的人工智能机器人不但拥有可以乱真的人类外表，而且还能像人类一样感知自己的存在。</div>
          </div></td>
          <td valign="top" class="body">&nbsp;</td>
          <td width="200" valign="top" class="body"><div align="center">
              <div align="left" class="style1 style9">爱德华·斯诺登是如何因为其自由主义价值观与美国政府的监听计划发生冲突，而从一名忠诚的共和党人成为美国政府口中的“叛国者”的。</div>
          </div></td>
          <td valign="top" class="body">&nbsp;</td>
          <td width="200" valign="top" class="body"><div align="center">
              <div align="left" class="style1 style9">主人公的孪生兄弟突然不明不白的死掉了，当他赶回家料理后事的时候，发现自己和一个单身母亲竟然都被诬陷为恐怖分子，两人就此被迫卷入了一场政治暗杀的阴谋之中，唯一的出路就是两人共同合作来解救自己…</div>
          </div></td>
          <td><div align="center"></div></td>
        </tr>
        <tr class="chinaoly10">
          <td class="chinaoly10"><div align="center"></div></td>
          <td><div align="center"></div></td>
        </tr>
        <tr class="chinaoly10">
          <td>&nbsp;</td>
          <td><div align="center"><A href="/html/2036来历不明.html"><img src="images/2036来历不明.jpg" width="150" height="215"></div></td>
          <td><div align="center"></div></td>
          <td><div align="center"><A href="/html/憨豆特工3.html"><img src="images/憨豆特工3.jpg" width="150" height="215"></div></td>
          <td><div align="center"></div></td>
          <td><div align="center"><A href="/html/疑犯追踪.html"><img src="images/疑犯追踪.jpg" width="150" height="215"></div></td>
          <td><div align="center"></div></td>
          <td><div align="center"><A href="/html/巨额来电.html"><img src="images/巨额来电.jpg" width="150" height="215"></div></td>
          <td><div align="center"></div></td>
        </tr>
        <tr class="chinaoly10">
          <td height="51">&nbsp;</td>
          <td><div align="center" class="style3">2017 2036来历不明<br>
        人工智能</div></td>
          <td>&nbsp;</td>
          <td><div align="center" class="style3"><span class="style2">2018 憨豆特工3</span></div></td>
          <td>&nbsp;</td>
          <td><div align="center" class="style3"><span class="style2">2016 疑犯追踪系列<br>
        犯罪预测</span></div></td>
          <td>&nbsp;</td>
          <td><div align="center" class="style3">2017 巨额来电 <br>
        电信诈骗</div></td>
          <td><div align="center"></div></td>
        </tr>
        <tr class="chinaoly10">
          <td>&nbsp;</td>
          <td width="200" valign="top" class="body"><div align="center">
              <div align="left" class="style1 style9">超光速通讯科技的发明，人工智能的高速发展，推动了全球外太空航天竞赛。<br>
              </div>
          </div></td>
          <td valign="top" class="chinaoly12">&nbsp;</td>
          <td width="200" valign="top" class="body"><div align="center">
              <div align="left" class="style1 style9"> 这次的新冒险由一场黑客攻击拉开序幕，所有在职的特工都被暴露了身份，使得强尼成为情报处最后的救命稻草。因此获得“返聘”的强尼第一个出勤任务便是要找出这位超强黑客 。木头木脑、技能堪忧的强尼将如何应对现代科技的挑战，成功完成任务呢？ </div>
          </div></td>
          <td valign="top" class="chinaoly12">&nbsp;</td>
          <td width="200" valign="top" class="body"><div align="center">
              <div align="left" class="style1 style9">国家安全局组织了一群调查员，让他们使用部门的最先进仪器：一部能直接查看证人﹑受害者﹑嫌疑犯记忆的机器。不过在调查案件的同时，这群警探也得抵制住自己偷用仪器的欲望。</div>
          </div></td>
          <td valign="top" class="chinaoly12">&nbsp;</td>
          <td width="200" valign="top" class="body"><div align="center">
              <div align="left" class="style1 style9">派出所年轻民警丁小田抓捕电信诈骗罪犯，与警方电信诈骗专案组不谋而合，专案组已经派出女特警小兔，混入远在泰国阿海与阿芳的骗子团队搜集证据，丁小田与卧底女特警小兔密切配合，与阿海、阿芳诈骗集团展开扣人心弦的反诈智斗。</div>
          </div></td>
          <td><div align="center"></div></td>
        </tr>
        <tr class="chinaoly10">
          <td>&nbsp;</td>
          <td><div align="center"><A href="/html/速度与激情7.html"><img src="images/速度与激情7.jpg" width="150" height="215"></div></td>
          <td><div align="center"></div></td>
          <td><div align="center"><A href="/html/王牌特工2.html"><img src="images/王牌特工2.jpg" width="150" height="215"></div></td>
          <td><div align="center"></div></td>
          <td><div align="center"><A href="/html/银翼杀手.html"><img src="images/银翼杀手.jpg" width="150" height="215"></div></td>
          <td><div align="center"></div></td>
          <td><div align="center"><A href="/html/智慧囚屋.html"><img src="images/智慧囚屋.jpg" width="150" height="215"></div></td>
          <td><div align="center"></div></td>
        </tr>
        <tr class="chinaoly10">
          <td height="51">&nbsp;</td>
          <td><div align="center" class="style3">2015 速度与激情7</div></td>
          <td>&nbsp;</td>
          <td><div align="center" class="style3"> 2017 王牌特工2：黄金圈 </div></td>
          <td>&nbsp;</td>
          <td><div align="center" class="style3"> 2017 银翼杀手2049 </div></td>
          <td>&nbsp;</td>
          <td><div align="center" class="style3">2018 智慧囚屋 <br>
        人工智能</div></td>
          <td><div align="center"></div></td>
        </tr>
        <tr class="chinaoly10">
          <td>&nbsp;</td>
          <td valign="top" class="body"><div align="center">
              <div align="left" class="style1 style9"> 肖出现了在托雷托家，多米尼克必须去找政府高级特工帮忙。主人公们唯一的希望就是继续开着赛车为美国政府保护一台高科技追踪设备的样品。作为回报，他们可以利用这个设备在肖大开杀戒之前就追查到他的行踪。 </div>
          </div></td>
          <td valign="top" class="chinaoly12">&nbsp;</td>
          <td valign="top" class="body"><div align="center">
              <div align="left" class="style1 style9"> 该王牌特工英国总部被毁后，艾格西与梅林前往美国，与美国联邦特工一起并肩作战对抗犯罪组织的故事。 </div>
          </div></td>
          <td valign="top" class="chinaoly12">&nbsp;</td>
          <td valign="top" class="body"><div align="center">
              <div align="left" class="style1 style9"> 一群与人类具有完全相同智能和感觉的复制人，冒险骑劫太空船回到地球，想在其机械能量即将耗尽之前寻求长存的方法。 </div>
          </div></td>
          <td valign="top" class="chinaoly12">&nbsp;</td>
          <td valign="top" class="body"><div align="center">
              <div align="left" class="style1 style9">街头女骗子Julia被绑架，将被用于做一个致命实验，她的唯一希望寄予幕后黑手Alex创造的一项人工智能TAU。足智多谋又勇气十足的Julia将与时间作斗争，在人与机器之间建立信任的桥梁，争取重新获得自由。<br>
              </div>
          </div></td>
          <td><div align="center"></div></td>
        </tr>
        <tr class="chinaoly10">
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td class="chinaoly10">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr class="chinaoly10">
          <td>&nbsp;</td>
          <td><div align="center"><A href="/html/寒战2.html"><img src="images/寒战2.jpg" width="150" height="215"></div></td>
          <td><div align="center"></div></td>
          <td><div align="center"><A href="/html/伦敦陷落.html"><img src="images/伦敦陷落.jpg" width="150" height="215"></div></td>
          <td>&nbsp;</td>
          <td><div align="center"><A href="/html/记忆码.html"><img src="images/记忆码.jpg" width="150" height="215"></div></td>
          <td>&nbsp;</td>
          <td><div align="center"><A href="/html/X战警-天启.html"><img src="images/X战警-天启.jpg" width="150" height="215"></div></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td><div align="center"></div></td>
        </tr>
        <tr class="chinaoly10">
          <td height="51">&nbsp;</td>
          <td><div align="center" class="style3">2016 寒战2</div></td>
          <td>&nbsp;</td>
          <td><div align="center" class="style3">2016 伦敦陷落</div></td>
          <td>&nbsp;</td>
          <td><div align="center" class="style3">2018 记忆码</div></td>
          <td>&nbsp;</td>
          <td><div align="center" class="style3">2016 X战警：天启</div></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td><div align="center"></div></td>
        </tr>
        <tr class="chinaoly10">
          <td>&nbsp;</td>
          <td valign="top" class="body"><div align="center">
            <div align="left" class="style1 style9">李家俊背后更大的势力逐渐浮出水面，香港各部之间的权力制衡更加紧张，再掀巨大波澜</div>
          </div></td>
          <td valign="top" class="chinaoly12">&nbsp;</td>
          <td valign="top" class="body"><div align="center">
            <div align="left" class="style1 style9">美国总统参加英国首相葬礼后，再次遭遇恐怖威胁的故事。</div>
          </div></td>
          <td valign="top" class="chinaoly12">&nbsp;</td>
          <td valign="top" class="body"><div align="center">
            <div align="left" class="style1 style9">国家安全局组织了一群调查员，让他们使用部门的最先进仪器：一部能直接查看证人﹑受害者﹑嫌疑犯记忆的机器。不过在调查案件的同时，这群警探也得抵制住自己偷用仪器的欲望。</div>
          </div></td>
           <td valign="top" class="chinaoly12">&nbsp;</td>
          <td valign="top" class="body"><div align="center">
            <div align="left" class="style1 style9">该片以20世纪80年代为背景，讲述了古老强大的第一个变种人天启在埃及醒来，他想统治并改变这个世界，而引发一系列变种人大战的故事。</div>
          </div></td>
          <td class="chinaoly12">&nbsp;</td>
          <td class="body">&nbsp;</td>
          <td class="chinaoly12">&nbsp;</td>
          <td class="body">&nbsp;</td>
          <td><div align="center"></div></td>
        </tr>
        <tr class="chinaoly10">
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td class="chinaoly10">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </table>
      <p>&nbsp;</p>
    <p>&nbsp;</p></td>
  </tr>
</table>
<br>
s
</body>
</html>

